* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none; }

@font-face {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans 3', sans-serif;
  src: url("../font/OpenSans-Medium.otf"); }

a {
  text-decoration: none; }

a {
  outline: none;
  color: #000000; }

a:link {
  color: #000000; }

a.btn-mnnv:link {
  color: #000000; }

a:visited {
  color: #303030; }

li a:hover {
  text-decoration: none;
  background: #e0e0e0; }

a:active {
  background: #818181; }

ul {
  list-style: none; }

header {
  grid-area: header;
  width: 100%; }

main {
  grid-area: main;
  max-width: 100%;
  width: 100%; }

footer {
  grid-area: footer; }

h1 {
  display: flex;
  height: 90px;
  margin: 20px;
  margin-top: 50px;
  font-family: 'Open S', sans-serif;
  font-size: 50px;
  font-weight: 550;
  /* background-color: rgb(214, 182, 141); */
  color: #444444;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center; }

h2 {
  display: flex;
  height: 90px;
  margin: 20px;
  margin-top: 70px;
  font-family: 'Open S', sans-serif;
  font-size: 46px;
  font-weight: 550;
  /* background-color: rgb(214, 182, 141); */
  color: #444444;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center; }

h3 {
  display: flex;
  font-family: 'Open S', sans-serif;
  font-size: 1.7rem;
  font-weight: 550;
  color: #444444;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center; }

img {
  justify-self: center; }

#topBtn {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
  margin: 0px 15px 15px 0px;
  border-radius: 100px; }

#topBtn:hover {
  background-color: #555; }

div.sociallogo a:active {
  background-color: white; }

a.btn-mnnv {
  outline: none;
  text-decoration: none;
  width: auto;
  text-align: center;
  line-height: 3;
  color: #000000;
  font-weight: 600; }

a.btn-mnnv:hover {
  background-color: #5e5e5e; }

.sociallogo {
  width: 15%;
  display: flex;
  padding: 10px 0px 50px 0px;
  justify-content: space-evenly; }

nav.nav2 div.container-fluid {
  display: flex;
  justify-content: space-between; }

.nav2 div.logo {
  width: 15%;
  display: flex;
  justify-content: center;
  margin-left: 10px; }

div.ipmin {
  display: flex;
  justify-content: space-evenly; }

div.ipgen {
  width: 70%;
  display: flex;
  justify-content: space-evenly; }

div.ipgen ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly; }

.footer-head {
  justify-content: center;
  color: #c0c0c0;
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.3;
  text-align: left;
  font-family: inherit; }

.footer-text {
  width: 307px;
  height: 26px;
  color: #c0c0c0;
  font-family: "Source Sans Pro";
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  text-align: left; }

.footer {
  background-color: #434242;
  margin-top: 50px;
  width: auto;
  height: auto;
  padding-bottom: 40px; }

.footer2 {
  background-color: #232323;
  display: flex;
  width: auto;
  height: 60px;
  align-items: center; }

#footerLogo {
  margin-left: 13%;
  height: 60px;
  display: flex;
  align-items: center; }

.footer {
  display: grid;
  grid-template-areas: "contacto reuniones redes mapa";
  grid-template-columns: 20% 30% 20% 30%; }

a.footer-text:hover {
  background: none; }

a.footer-text:visited {
  color: #c0c0c0; }

div.footer-1 {
  grid-area: contacto;
  padding: 0px 50px; }

.info-col {
  display: contents; }

div.footer-2 {
  grid-area: reuniones;
  padding: 0px 50px; }

div.footer-3 {
  grid-area: redes;
  padding: 0px 50px; }

div.footer-4 {
  grid-area: mapa;
  padding: 0px 50px; }

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

div.footer-2 {
  display: grid;
  grid-template-areas: "title title" "col1 col2";
  grid-template-columns: 30% 70%;
  grid-template-rows: 130px auto; }

div h2.two-column {
  grid-area: title; }

div.col1 {
  grid-area: col1;
  padding-top: 50px; }

div.col2 {
  grid-area: col2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 50px;
  margin-left: 20px; }

.right-aligned {
  text-align: right; }

.footer-column {
  margin-bottom: 20px; }

.col2 ul li.footer-column {
  text-align: right;
  margin-left: 30px;
  max-width: 150px; }

.footer-mob {
  display: none; }

.accordion {
  display: none; }

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%; }

.grid-main {
  display: grid;
  grid-template-areas: "section-1" "section-2" "section-3" "section-4" "section-5" "section-6" "section-7";
  grid-template-columns: 100%; }

.section-1 {
  grid-area: section-1; }

.section-2 {
  grid-area: section-2; }

.section-3 {
  grid-area: section-3; }

.section-4 {
  grid-area: section-4;
  display: grid;
  padding: 30px 0px;
  margin-top: 60px;
  grid-template-areas: "multimedia" "gal-carousel";
  grid-template-columns: 100%;
  grid-template-rows: 110px auto;
  place-content: center;
  background-color: #e6e6e6; }

.section-5 {
  grid-area: section-5;
  display: flex;
  justify-content: center; }

.section-6 {
  grid-area: section-6; }

.section-tp-btn {
  grid-area: section-7; }

/* ------ */
h2.left-aligned {
  display: flex;
  height: 90px;
  margin: 70px;
  font-family: 'Open S', sans-serif;
  font-size: 46px;
  font-weight: 550;
  color: #444444;
  align-items: start;
  justify-content: start; }

.billboard {
  width: 100%;
  position: relative; }

.billboard-nos {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #434242; }

.billboard-nos-img {
  width: 100%;
  opacity: 0.5;
  position: relative; }

.headline1 {
  font-family: 'Open S', sans-serif;
  font-weight: bold;
  position: absolute;
  display: inline-block;
  text-align: center;
  font-size: 70px;
  color: #ffffff;
  animation-name: fadeIn;
  animation: fadeIn 2.2s ease; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(20px); }
  20% {
    opacity: 1;
    filter: brightness(2) blur(10px); } }

.centrado {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.headline-nos {
  font-family: 'Open S', sans-serif;
  font-weight: bold;
  position: absolute;
  display: inline-block;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.2em black;
  font-size: 60px;
  color: #ffffff; }

.bill-description {
  width: 700px;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  display: inline-block;
  text-align: end;
  font-size: 40px;
  text-shadow: 0.1em 0.1em 0.2em black;
  font-weight: 600;
  color: white; }

.inicio {
  top: 16%;
  left: 16%;
  transform: translate(-50%, -50%); }

.align-end {
  top: 70%;
  left: 75%;
  transform: translate(-50%, -50%); }

.pre-headline {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 800;
  position: absolute;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  color: #ffffff66;
  top: 30%; }

.btn-nosotros {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans 3', sans-serif;
  position: absolute;
  display: inline-block;
  top: 80%;
  left: 80%;
  width: 156px;
  height: 42px;
  padding: 6px 10px 10px 10px;
  background: #ffffff;
  color: #5a5a5a;
  border-color: #ffffff;
  border-width: 2px;
  border-style: solid;
  border-radius: 21px 21px 21px 21px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  align-content: center; }

.content {
  margin: 50px auto;
  width: 70%;
  height: 90px;
  display: flex;
  font-family: 'Open S', sans-serif;
  color: #7a7a7a;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* background-color: #5a5a5a; */ }

.content-left {
  width: auto;
  margin: auto 50px auto 50px;
  height: auto;
  display: flex;
  font-family: 'Open S', sans-serif;
  color: #7a7a7a;
  font-size: 18px;
  display: flex;
  justify-content: start;
  text-align: start;
  align-items: start; }

.hz-line-1 {
  margin: 20px;
  margin-top: 50px;
  display: flex;
  width: 34%;
  margin-left: 33%;
  margin-right: 33%;
  height: 1px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
  border-color: #000000a6;
  border-style: solid;
  align-items: center;
  justify-content: center; }

.col-img {
  margin-left: 15%;
  margin-right: 15%;
  width: 67%;
  display: flex;
  border-color: #ffffff;
  border-width: 2px;
  border-style: solid;
  border-radius: 21px 21px 21px 21px; }

.col-subtext {
  padding-top: 35px;
  margin-left: 15%;
  margin-right: 15%;
  width: 67%;
  font-family: 'Open S', sans-serif;
  color: #7a7a7a;
  font-size: 18px;
  text-align: center;
  align-items: center;
  justify-content: center; }

div.three-column div div.col-subtext {
  max-height: 100px; }

.col-text {
  padding-top: 50px;
  margin-left: 3%;
  margin-right: 15%;
  width: 90%;
  display: flex;
  font-family: 'Open S', sans-serif;
  color: #7a7a7a;
  color: #444444;
  font-size: 22px;
  text-align: center;
  justify-content: center; }

div.three-column {
  width: 88%;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "column1 column2 column3";
  grid-template-columns: 33% 33% 33%; }

div.column1 {
  grid-area: column1;
  padding: 20px 10px 10px 10px; }

div.column2 {
  grid-area: column2;
  padding: 20px 10px 10px 10px;
  border-left: #e2e2e2 solid 1px; }

div.column3 {
  grid-area: column3;
  padding: 20px 10px 10px 10px;
  border-left: #e2e2e2 solid 1px; }

.img-slider {
  display: flex;
  padding: 20px 0px 40px 0px;
  justify-content: center;
  justify-self: center;
  align-items: center; }

.active:active {
  color: black; }

.box {
  /* display:flex; */
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  margin: 40px;
  width: 70%;
  border-color: #ffffff;
  border-width: 2px;
  border-style: solid;
  border-radius: 21px 21px 21px 21px; }

.button-soc {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans 3', sans-serif;
  display: inline-block;
  width: 230px;
  height: 42px;
  margin: 60px 0px;
  padding: 6px 10px 10px 10px;
  background: #444444;
  border-width: 2px;
  border-radius: 21px 21px 21px 21px;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  align-content: center; }

.button-soc:link {
  color: white; }

div.car-center {
  display: flex;
  justify-content: center;
  padding: 0px 12px; }

div#carouselExampleIndicators {
  grid-area: gal-carousel;
  border-radius: 24px;
  overflow: hidden; }

div.section-4 h2.title-2 {
  grid-area: multimedia;
  margin: 0px;
  height: 80px; }

.card-section {
  display: block; }

.cards {
  display: grid;
  grid-template-areas: "img-gen title-h2 title-h2" "img-gen text-p img-button";
  width: 70%;
  margin: 35px auto 35px auto;
  background-color: #434242;
  border-radius: 30px;
  padding: 40px; }

.cards.par {
  background-color: white; }

.cards.par h2 {
  color: #434242; }

.cards.par p {
  color: #434242; }

.cards img {
  grid-area: img-gen;
  width: 450px;
  border-radius: 20px; }

.cards h2 {
  grid-area: title-h2;
  color: white;
  justify-content: left;
  align-items: start;
  height: 35%;
  margin: auto auto 10px 20px; }

.cards p {
  color: white;
  max-width: 90%;
  min-width: 300px;
  grid-area: text-p;
  height: auto;
  margin: 20px; }

.cards img.go-button {
  grid-area: img-button;
  width: 67px; }

.btn-go {
  position: relative;
  top: 62%;
  left: 0;
  padding: 6px 10px 10px 10px; }

div.section-1 div.section-carousel {
  display: flex;
  width: 90%;
  height: auto;
  margin: 0 auto;
  border-radius: 25px; }

div.section-1 div.section-carousel div.car-center {
  padding: 20px;
  width: 100%; }

div.section-1 div.section-carousel div.car-center div#carouselExampleIndicators {
  width: 1600px;
  height: auto;
  border-radius: 24px;
  overflow: hidden;
  opacity: 0.8; }

.image-text {
  color: white;
  text-shadow: 0.2em 0.2em 0.3em black; }

.cards-areas {
  display: grid;
  grid-template-areas: "img-gen2 img-gen2 title-h2-2 title-h2-2" "img-gen2 img-gen2 text-p-2 text-p-2" ". . img-gen3 img-gen3" "cta . img-gen3 img-gen3";
  width: 80%;
  margin: 35px auto 35px auto;
  grid-template-columns: 30% 30% 20% 20%;
  grid-template-rows: 18% 50% 16% 16%;
  border-radius: 30px;
  padding: 40px; }

.cards-areas a {
  grid-area: cta; }

.cards-areas a.button {
  border-radius: 10px; }

.cards-areas img {
  grid-area: img-gen2;
  width: 100%;
  border-radius: 20px; }

.minigal {
  display: flex;
  grid-area: img-gen3;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly; }

.minigal-car {
  grid-area: img-gen4; }

div.minigal img.subimage {
  width: 40%;
  padding: 10px;
  flex-wrap: wrap; }

.cards-areas h2 {
  grid-area: title-h2-2;
  height: 35%;
  margin-bottom: 10px; }

.cards-areas p {
  max-width: 90%;
  min-width: 300px;
  font-size: large;
  grid-area: text-p-2;
  height: auto;
  margin: 20px;
  margin-top: 40px;
  padding: 0 10px; }

.cards-areas.invert {
  display: grid;
  grid-template-areas: "title-h2-2 title-h2-2 img-gen2 img-gen2" "text-p-2 text-p-2 img-gen2 img-gen2" "img-gen3 img-gen3 . ." "img-gen3 img-gen3 . cta";
  width: 80%;
  grid-template-columns: 20% 20% 30% 30%;
  margin: 35px auto 35px auto;
  border-radius: 30px;
  padding: 40px; }

.cards-areas a.button {
  padding: 20px;
  display: flex;
  justify-content: center;
  max-width: 300px;
  max-height: 70px;
  border-radius: 10px;
  background-color: #444444;
  color: #ffffff;
  font-weight: 700; }

.cards-areas.invert a.button {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: #E6E6E6;
  color: #434242;
  font-weight: 700; }

.cards-areas.invert {
  background-color: #434242; }

.cards-areas.invert h2 {
  color: white; }

.cards-areas.invert p {
  color: white; }

div.section-3 div.car-center {
  display: none; }

.container-ct {
  display: grid;
  grid-template-areas: "cont-1" "cont-2";
  margin: 0px 20px 20px 20px; }

div.cont-1 {
  grid-area: cont-1;
  margin: 0 auto;
  padding: 10px 20px; }
  div.cont-1 h2 {
    margin-bottom: 10px; }

div.cont-2 {
  grid-area: cont-2;
  margin: 0 auto;
  padding: 10px 20px;
  margin-bottom: 20px; }
  div.cont-2 h2 {
    margin-bottom: 10px; }

div.cards-areas div.mobile {
  display: none; }

div.carousel-info {
  display: flex !important;
  justify-content: space-between; }
  div.carousel-info h2 {
    margin: 0; }

.carousel-caption {
  right: 10%;
  bottom: 3rem;
  left: 10%;
  padding-bottom: 3rem; }

.section-1.cp2 {
  margin-bottom: 70px; }

div.sect.cp2 {
  display: grid;
  grid-template-areas: "h2-grid contact-info" "contact-form contact-info";
  grid-template-columns: 55% 45%;
  margin: 0 auto;
  width: 70%;
  justify-content: center; }

.h1-grid {
  margin: 20px auto;
  width: 66%;
  justify-content: start; }

.h2-grid {
  grid-area: h2-grid;
  width: 80%;
  display: flex;
  margin: 0 auto; }
  .h2-grid h2 {
    margin: 0;
    text-align: left;
    font-size: 1.65rem; }

.contact-form {
  grid-area: contact-form;
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #C0C0C0; }

::placeholder {
  color: #C0C0C0; }

textarea.form-sty {
  min-height: 200px; }

.form-row input, textarea {
  width: 100%;
  height: 40px;
  margin: 10px auto;
  border-radius: 5px;
  border: none;
  padding: 2px 7px; }
  .form-row input .form-sty, textarea .form-sty {
    width: 100%; }

button.enviar-btn {
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: #444444;
  color: #ffffff;
  font-weight: 700;
  width: 100%;
  max-width: 200px;
  border: none;
  max-height: 60px;
  align-items: center; }

.contact-info {
  grid-area: contact-info;
  width: 80%;
  max-width: 360px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto; }

.social-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0; }
  .social-list li {
    margin: 5px 0px; }

.social-div {
  padding: 10px 0px; }

.social-div a:visited {
  color: #7a7a7a; }

.social-div ul li a:visited {
  color: #7a7a7a; }

.social-text {
  width: 307px;
  height: 26px;
  color: #7a7a7a;
  font-family: "Source Sans Pro";
  font-family: inherit;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1;
  text-align: left; }

div.map-sec {
  margin-bottom: 40px; }
  div.map-sec h2 {
    margin: 20px auto;
    width: 70%;
    justify-content: start; }

.ct-map {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  max-height: 500px; }
  .ct-map div.map-responsive {
    display: flex;
    align-items: center;
    width: 80%;
    max-height: 500px;
    padding: 0px 0px auto 0px; }
    .ct-map div.map-responsive iframe {
      max-height: 500px;
      position: absolute; }

@media (max-width: 550px) {
  h1 {
    font-size: 2rem; }
  h2 {
    font-size: 1.6rem; }
  .headline1 {
    font-size: 2rem;
    animation-name: fadeIn;
    animation: fadeIn 2.2s ease; }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      filter: blur(20px); }
    20% {
      opacity: 1;
      filter: brightness(2) blur(10px); } }
  .pre-headline {
    font-size: 1rem; }
  .billboard {
    height: 220px; }
  .btn-nosotros {
    font-size: 0.8rem;
    width: 100px;
    height: 32px; }
  div.column2 {
    border-left: none; }
  div.column3 {
    border-left: none; }
  p.content {
    font-size: 0.9rem;
    font-weight: 500;
    padding-top: 60px; }
  div.three-column {
    display: none; }
  .col-subtext {
    margin-top: 20px; }
  .col-text {
    margin-bottom: 50px; }
  .brds {
    border-radius: 30px;
    padding: 20px; }
  .button-soc {
    width: 130px;
    height: auto;
    font-size: 0.9rem; }
  div.section-3 div.car-center {
    display: flex;
    width: 88%;
    margin: 0 auto; }
  .car-center.mobile.minigal-car {
    margin-top: 50px; }
    .car-center.mobile.minigal-car div div.carousel-inner {
      min-height: 174px; }
      .car-center.mobile.minigal-car div div.carousel-inner img {
        min-height: 174px;
        margin-top: 0; }
  #topBtn {
    width: 50px;
    height: 50px; }
  .footer {
    display: none; }
  .accordion {
    display: grid;
    --bs-accordion-border-color: none;
    --bs-accordion-active-color: #5c5c5c;
    --bs-accordion-btn-focus-border-color: #5c5c5c;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); }
  .accordion-header {
    margin: 0;
    background-color: #434343;
    border: none; }
  .accordion-button {
    background-color: #434343; }
  .accordion-button {
    color: white;
    font: inherit;
    font-size: 1.3rem;
    background-color: #434343; }
  .accordion-button:not(.collapsed) {
    color: white;
    background-color: #434343; }
  .accordion-body {
    background-color: #313131;
    display: grid;
    justify-content: space-between;
    width: 100%; }
  .double-col {
    background-color: #313131;
    display: inline-flex;
    justify-content: space-between;
    width: 100%; }
  .map {
    width: 330px;
    height: 300px;
    margin: 10px auto;
    padding: 0px auto; }
  .mapp-1 {
    padding: 0px auto;
    display: flex;
    justify-content: center; }
  .headline-nos {
    font-size: 1.2rem; }
  .bill-description {
    width: 200px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    display: inline-block;
    text-align: end;
    font-size: 0.54rem;
    text-shadow: 0.1em 0.1em 0.2em black;
    font-weight: 500;
    color: white; }
  .content-left {
    width: auto;
    margin: 20px auto 30px auto;
    height: auto;
    font-family: 'Open S', sans-serif;
    color: #7a7a7a;
    font-size: 0.75rem;
    display: flex;
    justify-content: start;
    text-align: start;
    align-items: start; }
  h2.left-aligned {
    font-size: 1.3rem;
    margin: 50px 0px 20px 0px;
    width: auto;
    height: auto; }
  .container-ct {
    display: grid;
    grid-template-areas: "cont-1" "cont-2";
    margin: 0px 20px 20px 20px; }
  div.cont-1 {
    grid-area: cont-1; }
  div.cont-2 {
    grid-area: cont-2; }
  .align-end {
    top: 60%;
    left: 65%;
    right: auto;
    transform: translate(-45%, -1%); }
  .inicio {
    top: 16%;
    left: 16%;
    transform: translate(-40%, -50%); }
  .cards {
    display: grid;
    grid-template-areas: "img-gen-2" "title-3" "text-p-2" "img-button-2";
    grid-template-columns: 100%;
    margin: 30px auto;
    border: solid 1px rgba(67, 66, 66, 0.116);
    background-color: #434242;
    border-radius: 30px;
    padding: 40px; }
  .cards img {
    grid-area: img-gen-2;
    width: 200px; }
  .cards h2 {
    grid-area: title-3;
    justify-content: left;
    align-items: start;
    margin: 15px; }
  .cards p {
    grid-area: text-p-2;
    display: grid;
    width: 200px;
    min-width: 0;
    margin: 20px auto;
    font-size: 0.8rem; }
  .cards img.go-button {
    grid-area: img-button-2;
    width: 67px; }
  .btn-go {
    position: relative;
    top: 20%;
    left: 80%;
    padding: 6px 10px 10px 10px; }
  div.section-1 div.section-carousel {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0px;
    border-radius: 25px; }
  .cards-areas {
    border: solid 1px rgba(67, 66, 66, 0.116);
    grid-template-areas: "img-gen2" "title-h2-2" "text-p-2" "img-gen4" "cta";
    margin: 35px auto 35px auto;
    grid-template-columns: 100%;
    grid-template-rows: 210px 60px 320px auto auto;
    padding: 0px; }
  div.cards-areas p {
    margin-top: 50px; }
  .cards-areas h2 {
    margin: 30px;
    padding: 10px auto;
    margin-top: 60px; }
  .minigal {
    margin: 10px auto; }
  .cards-areas img {
    grid-area: img-gen2;
    margin-top: 30px;
    width: 80%;
    border-radius: 20px; }
  .cards-areas.invert {
    grid-template-areas: "img-gen2" "title-h2-2" "text-p-2" "img-gen4" "cta";
    margin: 35px auto 35px auto;
    grid-template-columns: 100%;
    grid-template-rows: 210px 60px 320px auto auto;
    padding: 0px; }
  .cards-areas a.button {
    display: flex;
    margin: 30px auto;
    width: 250px; }
  .cards-areas p {
    min-width: 0px;
    font-size: large;
    grid-area: text-p-2;
    height: auto;
    margin: 20px;
    padding: 0 10px; }
  .desk {
    display: none; }
  div.cards-areas div.mobile {
    display: flex; }
  div.map-sec h2 {
    height: auto; }
  div.sect.cp2 {
    display: grid;
    grid-template-areas: "h2-grid" "contact-form" "contact-info";
    grid-template-columns: 100%;
    width: 94%;
    justify-content: center; }
  .contact-info {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 40px auto; }
  .h2-grid {
    margin: 35px auto; }
  .social-list li img {
    width: 23px; }
  .social-div img {
    width: 23px; }
  .social-text {
    font-size: 0.8rem; }
  div.cont-1 {
    grid-area: cont-1;
    margin: 0 auto;
    padding: 10px 20px; }
    div.cont-1 h2 {
      margin-bottom: 10px;
      margin: 20px auto; }
  div.cont-2 {
    grid-area: cont-2;
    margin: 0 auto;
    padding: 10px 20px;
    margin-bottom: 20px; }
    div.cont-2 h2 {
      margin-bottom: 10px;
      margin: 20px auto; } }
