@media (max-width : 550px) {
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.6rem;
    }
    .headline1{
        font-size: 2rem;
        animation-name: fadeIn;
        animation: fadeIn 2.2s ease;
    }
  @keyframes fadeIn{
    0% {
        opacity: 0;
        filter:blur(20px);
         }
    20%{
        opacity: 1;
        filter: brightness(2) blur(10px);}
    }
    .pre-headline{
        font-size: 1rem;
    }
    .billboard{
        height: 220px;
    }
    .btn-nosotros{
        font-size: 0.8rem;
        width: 100px;
        height: 32px;   
    }
    p.content{
        font-size: 0.9rem;
        font-weight: 500;
        padding-top: 60px;
    }
    div.three-column{
        display: none;
    }
    .col-subtext{
        margin-top: 20px;
    }
    .col-text{
        margin-bottom: 50px;
    }
    .brds{
        border-radius: 30px;
        padding: 20px;
    }
    .button-soc{
        width: 130px;
        height: auto;
        font-size: 0.9rem;
    }
    div.section-3 div.car-center{
        display: flex;
    }
    #topBtn{
        width: 50px;
        height: 50px;
    }
    .footer{
        display: none;
    }
    .accordion{
        display: grid;
        --bs-accordion-border-color: none;
        --bs-accordion-active-color: #5c5c5c;
        --bs-accordion-btn-focus-border-color: #5c5c5c;
        --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
    .accordion-header{
        margin: 0;
        background-color: #434343;
        border: none;
    }
    .accordion-button{
        background-color: #434343;
    }
    .accordion-button{
        color: white;
        font:inherit;
        font-size: 1.3rem;
        background-color: #434343;
    }
    .accordion-button:not(.collapsed){
        color: white;
        background-color: #434343;
    }
    .accordion-body{
        background-color: #313131;
        display: grid;
        justify-content: space-between;
        width: 100%;
    }
    .double-col{
        background-color: #313131;
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
    }
    .map{
        width: 330px;
        height: 300px;
        margin: 10px auto;
        padding: 0px auto;
    }
    .mapp-1{
        padding: 0px auto;
        display: flex;
        justify-content: center;

    }

    .headline-nos{
        font-size: 1.2rem;

    }
    .bill-description{
        width: 200px;
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        display: inline-block;
        text-align: end;
        font-size: 0.54rem;
        text-shadow: 0.1em 0.1em 0.2em black ;
        font-weight: 500;
        color: white;
      }
      .content-left{
        width: auto;  
        margin: 20px auto 30px auto;
        height: auto;
        font-family: 'Open S', sans-serif;
        color: #7a7a7a;
        font-size: 0.75rem;
        display: flex;
        justify-content: start;
        text-align: start;
        align-items: start;
    }
    h2.left-aligned{
        font-size: 1.3rem;
        margin: 50px 0px 20px 0px;
        width: auto;
        height: auto;
    }
    .container-ct{
        display: grid;
        grid-template-areas: 
        "cont-1"
        "cont-2";
        margin: 0px 20px 20px 20px;
    }
    div.cont-1{
        grid-area: cont-1;
    }
    div.cont-2{
        grid-area: cont-2;
    }
    .align-end{
        top: 60%;
        left: 65%;
        right: auto;
        transform: translate(-45%, -1%);
      }
      .inicio{
        top: 16%;
        left:16%;
        transform: translate(-40%, -50%);
    }
    .cards{
        display: grid;
        grid-template-areas:
        "img-gen-2"
        "title-3"
        "text-p-2"
        "img-button-2";
        grid-template-columns: 100%;
        margin: 30px auto;
        border: solid 1px hsla(0, 1%, 26%, 0.116);
        background-color: #434242;
        border-radius: 30px;
        padding: 40px;
    }

    .cards img{
        grid-area: img-gen-2;
        width: 200px;
    }
    
    .cards h2{
        grid-area: title-3;
        justify-content: left;
        align-items: start;
        margin: 15px;
    }
    
    .cards p{
        grid-area: text-p-2;
        display: grid;
        width: 200px;
        min-width: 0;
        margin: 20px auto;
        font-size: 0.8rem;
    }
    
    .cards img.go-button{
        grid-area: img-button-2;
        width:67px;
    }
    .btn-go{
        position: relative;
        top: 20%;
        left: 80%;
        padding: 6px 10px 10px 10px;
    }
    div.section-1 div.section-carousel {
        display: flex;
        width: 100%;
        height: auto;
        margin: 0px;
        border-radius: 25px;
    }
    .cards-areas{
        border: solid 1px hsla(0, 1%, 26%, 0.116);
        grid-template-areas:
        "img-gen2"
        "title-h2-2"
        "text-p-2"
        "img-gen4"
        "cta";
        margin: 35px auto 35px auto;
        grid-template-columns: 100%;
        grid-template-rows: 210px 60px 320px auto auto;
        padding: 0px;
    }
    .cards-areas h2{
        margin: 30px;
        padding: 10px auto;
    }
    .minigal{
        margin: 10px auto;
    }
    .cards-areas img{
        grid-area: img-gen2;
        margin-top: 30px;
        width: 80%;
        border-radius: 20px;
    }
     .cards-areas.invert{
        grid-template-areas:
        "img-gen2"
        "title-h2-2"
        "text-p-2"
        "img-gen4"
        "cta";
        margin: 35px auto 35px auto;
        grid-template-columns: 100%;
        grid-template-rows: 210px 60px 320px auto auto;
        padding: 0px;
    }
    .cards-areas a.button{
        display: flex;
        margin: 30px auto;
        width: 250px;
    }
    .cards-areas p{
        min-width: 0px;
        font-size: large;
        grid-area: text-p-2;
        height: auto;
        margin: 20px;
        padding: 0 10px;
    }
    .desk{
        display: none;
    }
    div.cards-areas div.mobile{
        display: flex;
    }

    // Contact mapa //

    div.map-sec {
        h2{
            height: auto;
        }
    }
    div.sect.cp2{
        display: grid;
        grid-template-areas: 
        "h2-grid"
        "contact-form"
        "contact-info";
        grid-template-columns: 100%;
        width: 94%;
        justify-content: center;
    }
    .contact-info{
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 40px auto;
    }
    .h2-grid{
        margin: 35px auto;
    }
    .social-list{
        li{
            img{
                width: 23px;
            }
        }
    }
    .social-div{
        img{
            width: 23px;
        }
    }
    .social-text{
        font-size: 0.8rem;
    }
}
